.mainBody {
    color: red;
    height: 100px;
    width: 104%;
}
body {
    background-image: url('../images/BG2.png');
}
.stickerOption {
    opacity: 1;
    max-width: 40%;
}
.logo {
    max-width: 90%;
}
#stickerOptions1:hover {
    content: url(../images/homePageLink1b.png);
}
#stickerOptions2:hover {
    content: url(../images/homePageLink2b.png);
}
