.mainBody {
    color: red;
    height: 100px;
    width: 104%;
}
body {
    background-image: url('../images/BG2.png');
    background-attachment:fixed;
}
.stickerOption {
    opacity: 1;
    max-width: 40%;
}
.logo {
    max-width: 90%;
}
#stickerOptions1:hover {
    content: url(../images/homePageLink1b.png);
}
#stickerOptions2:hover {
    content: url(../images/homePageLink2b.png);
}
<<<<<<< HEAD

.profileMainBody{
    max-width:850px;
    height:1000px;
    background-color: lavender;
    border-top-right-radius:700px;
    border-top-left-radius:700px;
    opacity:0.7;
    top: 4000px;
}

.profileBadge{
    height:300px;
    width:300px;
    border-radius:150px;
    background-color: lightblue;
    float:left;
    left: 110px;
    position: relative;
}

.yearBadge{
    height:300px;
    width:300px;
    border-radius:150px;
    background-color: lightgreen;
    float:right;
    right: 110px;
    position: relative;
}
=======
h1,
p,
a,
h2 {
    font-family: 'Maven Pro', 'sans-serif';
}
>>>>>>> FETCH_HEAD
