.menu {
    background: linear-gradient(to bottom, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%);
    width: 104%;
    position: relative;
    left: -10px;
    top: -10px;
    height: 50px;
    box-shadow: 10px;
}
.logo {
    text-align: left;
    max-height: 80%;
    position: relative;
    left: 5px;
    top: 5px;
    padding-right: 20px;
}
.icon {
    max-height: 1.45em;
    height: 1.45em;
    position: relative;
    top: -1.5px;
    left: -8px;
    border: 2px solid #B0D2E7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px;
    background: #FFF;
}
.search {
    position: relative;
    top: -8px;
    border: 2px solid #B0D2E7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;
    font-size: 1.1em;
}
body {
    background-image: url(../images/BG2.png);
    font-family: 'Maven Pro', 'sans-serif';
    text-decoration: none;
}
.onright {
    float: right;
}
.profilepic {
    max-height: 100%;
    position: relative;
    left: -140px;
}
.profilename {
    font-size: 1.2em;
    top: -5px;
    position: relative;
    right: -10px;
}
